Вам предстоит проанализировать данные о результатах экзаменов по математике, чтению и письму среди студентов некоторого учебного заведения.

Задачи такого плана очень часто встречаются на технических собеседованиях, где проверяют навыки владения библиотекой Pandas.

Информация о столбцах таблицы:

In [1]:
import pandas as pd

In [3]:
student_data = pd.read_csv('./data/students_performance.csv')

In [4]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75


- <em>gender</em> — пол;
- <em>race/ethnicity</em> — раса/этническая принадлежность;
- <em>parental level of education</em> — уровень образования родителей;
- <em>lunch</em> — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);
- <em>test preparation course</em> — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
- <em>math score, reading score, writing score</em> — баллы по математике, чтению и письму по сто балльной шкале.

<div style="border: 1px solid white; padding: 5px; margin-right: auto;  width: 80%;"> Вам необходимо прочитать эти данные в DataFrame с именем student_data и ответить на следующие вопросы

###  Задание 9.1

Данные о скольких студентах содержатся в таблице?
<details>
<summary><strong>Show answer</strong> (Click Here)</summary>
    &emsp; &emsp; <code>
 1000
</code>
</details>

In [5]:
student_data.shape

(1000, 8)

###   Задание 9.2
Каков балл по письму у студента под индексом 155?
<details>
<summary><strong>Show answer</strong> (Click Here)</summary>
    &emsp; &emsp; <code>
 88
</code>
</details>

In [7]:
student_data.loc[155, 'writing score']

88

###    Задание 9.3

Сколько суммарно пропущенных значений в таблице?
<details>
<summary><strong>Show answer</strong> (Click Here)</summary>
    &emsp; &emsp; <code>
 88
</code>
</details>

In [10]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

###     Задание 9.4

Сколько столбцов в таблице имеет тип данных object?
<details>
<summary><strong>Show answer</strong> (Click Here)</summary>
    &emsp; &emsp; <code>
5
</code>
</details>

###      Задание 9.5
Какой объём памяти (в килобайтах) занимает таблица?

Округлите ответ до целого числа.
<details>
<summary><strong>Show answer</strong> (Click Here)</summary>
    &emsp; &emsp; <code>
63
</code>
</details>

###       Задание 9.6

Каков у студентов средний балл по математике?

Округлите ответ до целого числа.
<details>
<summary><strong>Show answer</strong> (Click Here)</summary>
    &emsp; &emsp; <code>
66/ Средний балл студентов по математике можно найти с помощью агрегирующего метода mean() или метода describe().
</code>
</details>

In [11]:
student_data['math score'].mean()

66.089

###        Задание 9.7

Какая расовая группа является самой крупной в учебном заведении?

В качестве ответа введите идентификатор группы (A, B, C, D, F). 
<details>
<summary><strong>Show answer</strong> (Click Here)</summary>
    &emsp; &emsp; <code>
C/ аиболее распространённую группу можно найти с помощью метода mode() или метода describe().
</code>
</details>

In [12]:
student_data['race/ethnicity'].describe()

count        1000
unique          5
top       group C
freq          319
Name: race/ethnicity, dtype: object

###        Задание 9.8

Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?

Округлите ответ до целого числа.
<details>
<summary><strong>Show answer</strong> (Click Here)</summary>
    &emsp; &emsp; <code>
74 /  Необходимо произвести фильтрацию таблицы по условию посещения курсов student_data['test preparation course'] == 'completed', а затем вычислить средний балл.
</code>
</details>

In [14]:
student_data[student_data['test preparation course'] == 'completed']['writing score'].mean()

74.41899441340782

###         Задание 9.9

Сколько студентов получили 0 баллов по математике?
<details>
<summary><strong>Show answer</strong> (Click Here)</summary>
    &emsp; &emsp; <code>
 Необходимо произвести фильтрацию по условию student_data['math score'] == 0 и найти число строк в таблице.
</code>
</details>

In [15]:
student_data[student_data['math score'] == 0].shape[0]

1

###          Задание 9.10

Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.
<details>
<summary><strong>Show answer</strong> (Click Here)</summary>
    &emsp; &emsp; <code>
 70  Необходимо произвести две различные фильтрации:

    Найти средний балл по математике у студентов с оплачиваемым питанием.
    Найти средний балл по математике у студентов с льготным питанием.
</code>
</details>

In [16]:
student_data.lunch.value_counts()

lunch
standard        645
free/reduced    355
Name: count, dtype: int64

In [25]:
student_data[student_data['lunch'] == 'standard']['math score'].mean()

70.03410852713178

In [26]:
student_data[student_data['lunch'] == 'free/reduced']['math score'].mean()

58.92112676056338

###           Задание 9.11

Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?

Округлите ответ до целого числа.
Не указывайте знак %.
<details>
<summary><strong>Show answer</strong> (Click Here)</summary>
    &emsp; &emsp; <code>
  Для решения этой задачи можно воспользоваться методом value_counts() с параметром normalize=True для столбца parental level of education (уровень образования родителей). Данный метод выводит долю каждого уникального значения в столбце от общего количества наблюдений.
</code>
</details>

In [29]:
student_data['parental level of education'].value_counts(normalize=True)

parental level of education
some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: proportion, dtype: float64

###            Задание 9.12

Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?

Округлите ответ до целого и запишите модуль этого числа.

<details>
<summary><strong>Show answer</strong> (Click Here)</summary>
    &emsp; &emsp; <code>
  Для решения этой задачи необходимо произвести две фильтрации и вычислить медианное и среднее значения в столбце writing score.
</code>
</details>

In [33]:
student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median() - student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()

-5.827586206896555