Вашим заданием в этом модуле будет проанализировать и преобразовать данные о велопоездках клиентов компании Citi Bike (США), специализирующейся на прокате велосипедов.

In [2]:
import pandas as pd

url = (
    "https://drive.google.com/file/d/1VlNr9KLM0zleIxe2kNy7zXio2jVhoMqb/view?usp=sharing"
)
url = "https://drive.google.com/uc?id=" + url.split("/")[-2]
bikes_data = pd.read_csv(url)

In [3]:
bikes_df = bikes_data.copy()
bikes_df.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

Датасет представляет собой таблицу с информацией о 300 тысячах поездок за первые пять дней сентября 2018 года и включает в себя следующую информацию:



- starttime — время начала поездки (дата, время);
- stoptime — время окончания поездки (дата, время);
- start station id — идентификатор стартовой стоянки;
- start station name — название стартовой стоянки;
- start station latitude, start station longitude — географическая широта и долгота стартовой стоянки;
- end station id — идентификатор конечной стоянки;

- end station name — название конечной стоянки;
- end station latitude, end station longitude — географическая широта и долгота конечной стоянки;
- bikeid — идентификатор велосипеда;
- usertype — тип пользователя (Customer — клиент с подпиской на 24 часа или на три дня, Subscriber — подписчик с годовой арендой велосипеда);
- birth year — год рождения клиента;
- gender — пол клиента (0 — неизвестный, 1 — мужчина, 2 — женщина).

Оригинальный источник данных вы можете найти <a href="https://citibikenyc.com/system-data">здесь.</a> Он представляет собой таблицу на 1,7 миллиона строк. В учебных целях мы удалили из датасета несколько признаков, а также уменьшили число строк.

---
Итак, начнём с разминки и произведём базовый анализ, чтобы познакомиться с данными поближе, а заодно повторим темы предыдущего модуля.

###  Задание 6.1

Сколько пропусков в столбце start station id?
<details>
<summary><strong>Show answer</strong> (Click Here)</summary>
    &emsp; &emsp; <code>
169
</code>
</details>

In [3]:
bikes_df["start station id"].isna().sum()

169

###   Задание 6.2

Какой тип данных имеют столбцы starttime и stoptime?
<details>
<summary><strong>Show answer</strong> (Click Here)</summary>
    &emsp; &emsp; <code>
object
</code>
</details>

In [4]:
bikes_df[["starttime", "stoptime"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   starttime  300000 non-null  object
 1   stoptime   300000 non-null  object
dtypes: object(2)
memory usage: 4.6+ MB

###    Задание 6.3

Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.
<details>
<summary><strong>Show answer</strong> (Click Here)</summary>
    &emsp; &emsp; <code>
281
</code>
</details>

In [7]:
bikes_df["start station id"].mode()

0    281.0
Name: start station id, dtype: float64

###     Задание 6.4

Велосипед с каким идентификатором является самым популярным?
<details>
<summary><strong>Show answer</strong> (Click Here)</summary>
    &emsp; &emsp; <code>
33887
</code>
</details>

In [8]:
bikes_df["bikeid"].mode()

0    33887
Name: bikeid, dtype: int64

###      Задание 6.5

Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.
<details>
<summary><strong>Show answer</strong> (Click Here)</summary>
    &emsp; &emsp; <code>
0.77
</code>
</details>

In [10]:
bikes_df["usertype"].value_counts(normalize=True)

usertype
Subscriber    0.774007
Customer      0.225993
Name: proportion, dtype: float64

###      Задание 6.6

Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше.
<details>
<summary><strong>Show answer</strong> (Click Here)</summary>
    &emsp; &emsp; <code>
183582
</code>
</details>

In [11]:
bikes_df["gender"].value_counts()

gender
1    183582
2     74506
0     41912
Name: count, dtype: int64

###       Задание 6.7

Выберите утверждения,которые соответствуют нашим данным:
- A Число уникальных стартовых и конечных стоянок, которыми воспользовались клиенты, не равны друг другу
- B В рассматриваемые дни минимальный возраст клиента составлял 10 лет
- C Самой непопулярной стартовой стоянкой из тех, которыми воспользовались клиенты, является стоянка с названием "Eastern Pkwy & Washington Ave"
- D Наибольшее количество поездок завершается на стоянке под названием "Liberty Light Rail" 
<details>
<summary><strong>Show answer</strong> (Click Here)</summary>
    &emsp; &emsp; <code>
Верно:
A Верно.
C Верно.

</code>
</details>

In [12]:
bikes_df["start station id"].nunique() == bikes_df["end station id"].nunique()

False

In [15]:
bikes_df["birth year"].max() - 2018

-16

In [18]:
bikes_df["start station name"].value_counts()

start station name
Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: count, Length: 759, dtype: int64

In [17]:
bikes_df["end station name"].mode()

0    West St & Chambers St
Name: end station name, dtype: object

###       Задание 6.8

В первую очередь удалим лишнюю информацию из данных.

В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: это столбцы с идентификатором и названием стартовой и конечной стоянки. Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?
<details>
<summary><strong>Show answer</strong> (Click Here)</summary>
    &emsp; &emsp; <code>
12

</code>
</details>

In [20]:
bikes_df.shape[1]

14

In [22]:
bikes_df.drop(["start station id", "end station id"], inplace=True, axis=1)
bikes_df.shape[1]

12

###        Задание 6.9

Замените признак birth year на более понятный признак возраста клиента age. Годом отсчёта возраста выберите 2018 год. Столбец birth year удалите из таблицы. Сколько поездок совершено клиентами старше 60 лет?
<details>
<summary><strong>Show answer</strong> (Click Here)</summary>
    &emsp; &emsp; <code>
11837

</code>
</details>

In [23]:
bikes_df["age"] = 2018 - bikes_df["birth year"]
bikes_df.drop(["birth year"], axis=1, inplace=True)
bikes_df.head(1)

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38

In [25]:
bikes_df[bikes_df["age"] > 60].shape[0]

11837

###        Задание 6.10

Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и её началом (starttime). Сколько целых минут длилась поездка под индексом 3 в таблице?
<details>
<summary><strong>Show answer</strong> (Click Here)</summary>
    &emsp; &emsp; <code>
7

</code>
</details>

In [39]:
bikes_df["starttime"] = pd.to_datetime(bikes_df["starttime"])
bikes_df["stoptime"] = pd.to_datetime(bikes_df["stoptime"])

In [41]:
bikes_df["trip duration"] = bikes_df["stoptime"] - bikes_df["starttime"]
bikes_df["trip duration"][3]

Timedelta('0 days 00:07:16.837000')

###         Задание 6.11

Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или воскресенье), и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.
<details>
<summary><strong>Show answer</strong> (Click Here)</summary>
    &emsp; &emsp; <code>
115135

</code>
</details>

In [42]:
def weekend(arg):
    if arg in [5, 6]:
        return 1
    else:
        return 0

In [44]:
bikes_df["weekend"] = bikes_df["starttime"].dt.weekday.apply(weekend)
bikes_df[bikes_df["weekend"] == 1].shape[0]

115135

###          Задание 6.12

Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:

- поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
- поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;
- поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;
- поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).

Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени? Ответ округлите до целых.
<details>
<summary><strong>Show answer</strong> (Click Here)</summary>
    &emsp; &emsp; <code>
115135

</code>
</details>

In [45]:
def get_time_of_day(arg):
    if arg <= 6:
        return "night"
    elif arg <= 12:
        return "morning"
    elif arg <= 18:
        return "day"
    else:
        return "evening"

In [46]:
bikes_df["time_of_day"] = bikes_df["starttime"].dt.hour.apply(get_time_of_day)
bikes_df["time_of_day"].value_counts()

time_of_day
day        143012
morning     95530
evening     46373
night       15085
Name: count, dtype: int64

In [47]:
bikes_df[bikes_df["time_of_day"] == "day"].shape[0] / bikes_df[
    bikes_df["time_of_day"] == "night"
].shape[0]

9.480411004308916